.organizationContainer {
    width: fit-content;
    height: 80vh;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    margin: auto;
    border-radius: 20px;
    padding: 2%;

    font-family: 'Roboto', sans-serif;
}

.organizationContainer b {
    border-bottom: 1px solid #e6e6e6;
    display: block;
    padding-left: 5%;
}

.itemName {
    color: #7c7e82;
}

.organizationContainer ul li:not(.itemName) {
    padding-bottom: 3vh;
}

#imgOrganization {
    height: 20vw;
}

@media screen and (max-width: 780px) {
    .organizationContainer {
        margin: 0;
        width: 99%;
        border-radius: 0px;
        padding: 0;
        height: 92vh;
        overflow: auto;
        display: flex;
        flex-direction: column;
    }
    #imgOrganization {
        height: 40vw;
    }
}

@media screen and (max-width: 670px) {
    .firstRowContainer {
        flex-direction: column;
    }
}

