.organizationContainer {
    width: 70vw;
    height: 80vh;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    margin: auto;
    margin-top: 16px;
    border-radius: 20px;
    padding: 2%;

    font-family: 'Roboto', sans-serif;
}

.organizationContainer b {
    border-bottom: 1px solid #e6e6e6;
    display: block;
    padding-left: 5%;
}

.itemName {
    color: #7c7e82;
}

.organizationContainer ul li:not(.itemName) {
    padding-bottom: 3vh;
}