.teamContainer {
    width: 70vw;
    height: 80vh;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    margin: auto;
    border-radius: 20px;
    padding: 2%;

    font-family: 'Roboto', sans-serif;
}

.teamContainer p {
    display: block;
    padding-left: 5%;
}

.teamContainer ul {
    list-style: none;
    padding: 0;
}

.teamContainer ul li {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 1vw;

    border-radius: 5px;
}

.teamContainer ul li:hover {
    cursor: pointer;
    background-color:#e4eeff;
    transition: 200ms;
}

.teamContainer .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e6e6e6;
}

.invitationContainer {
    display: flex;
}