.teamContainer {
    width: 70vw;
    height: 80vh;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    margin: auto;
    border-radius: 2%;
    padding: 2%;

    font-family: 'Roboto', sans-serif;
}

.teamContainer p {
    border-bottom: 1px solid #e6e6e6;
    display: block;
    padding-left: 5%;
}

.teamContainer ul {
    list-style: none;
}

.teamContainer ul li {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 1vw;
}