#dealsTable {
    width: 100vw;
    padding: 2%;
    padding-top: 0;
    margin-top: 16px;
}
 
.dealContainers {
    display: none;
}

.dealContainer {
    background-color: #fff;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-bottom: 1px solid #e6e6e6;
}
.dealContainer:hover {
    cursor: pointer;
    background-color: rgb(60,76,92, .1);
}

.dealContainer p {
    font-size: 0.8rem;
}


.buttons {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-left: auto;
    width: 80%;
    gap: 0.2%;
    padding-right: 2vw;
    padding-top: 2vh;
}

.buttons button {
    border-radius: 70px;
    background-color: #FFFFFF;
    border: 1px solid #EAEEF4;
    color: #092C4C;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    padding: 1%;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    gap: 7%;
}

.filterDiv {
    padding: 10%;
    display: flex;
    flex-direction: column;
}

button:hover {
    cursor: pointer;
    box-shadow: 0 2px 10px rgba(161, 161, 161, 0.2);
}

@media screen and (max-width: 780px) {
    #dealsTable {
        display: none;
    }

    .dealContainer {
        display: block;
    }

    .dealContainers {
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        height: 74.4vh;
    }

    .buttons {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-bottom: 2%;
    }
    button {
        width: 100%;
    }
}