.card {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 2%;
    height: 65%;
    width: 17.5rem;
}

.card img {
    height: 7vh;
    width: auto;
}

.card .loginHeader {
    display: flex;
    justify-content: start;
    gap: 5%;
    align-items: center;
}

.card p {
    font-weight: 400;
    font-size: 0.8rem;
}

.card p:not(#pheader):hover {
    text-decoration: underline;
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    .card {
        padding: 0;
        width: fit-content;
        background-color: #fff;
        padding: 10%;
        border-radius: 10px;
        height: 87%;
    }
}