.card {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 2%;
    height: 100%;
    width: 17.5rem;
    position: relative; /* Ensure the card can be positioned */
    animation: slide-in 0.2s forwards; /* Apply the animation */
}

@keyframes slide-in {
    from {
        left: -100%; /* Start off-screen to the left */
    }
    to {
        left: 0; /* End at the final position */
    }
}

.card img {
    height: 7vh;
    width: auto;
}

.card .loginHeader {
    display: flex;
    justify-content: start;
    gap: 5%;
    align-items: center;
}

.card p {
    font-weight: 400;
    font-size: 0.8rem;
}

.card p:not(#pheader):hover {
    text-decoration: underline;
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    .card {
        padding: 0;
        width: fit-content;
        background-color: #fff;
        padding: 10%;
        border-radius: 10px;
        height: 87%;
    }
}