.tableComponent {
    height: 100%;
}

.table {
    padding-top: 0;
    margin-top: 16px;
    background-color: #fff;
}

.contactContainers {
    display: none;
}

.tableHeader > * {
    font-family: "Inter", sans-serif;
    font-weight: regular;
    background-color: #F6FAFD;
}

.tableHeader2 > * {
    font-family: "Inter", sans-serif;
    font-weight: regular;
}

@media screen and (max-width: 780px) {
    .tableComponent {
        width: 100vw;
    }
    .table {
        display: none;
        width: 100%;
    }
    .tableHeader > *{
        width: 200vw;
    }
    
    .tableHeader2 {
        width: 200vw;
        overflow: hidden;
    }

    .contactContainers {
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        overflow-x: hidden;
        width: 100vw;
    }
}
