.login_container {
    position: absolute;
    left: 65%;
    background-color: #fff;
    width: 35vw;
    height: 100vh;
    transition: 200ms;
}

.login img {
    width: 100vw;
    height: 100vh;
}

.login {
    display: flex;
    flex-direction: row;
}