.login_container {
    position: absolute;
    left: 65%;
    background-color: #fff;
    width: 35vw;
    height: 100vh;
    transition: 200ms;
}

.login img {
    width: 100vw;
    height: 100vh;
}

.login {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 1000px) {
    #img {
        display: none;
    }

    .login_container {
        left: 0;
        width: fit-content;
        padding: 10%;
        display: flex;
        justify-content: center;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        z-index: 999;
    }
}
