.login_container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5%;
    padding-top: 10%;
    height: 100vh;
    background-color: #fff;
}

.login img {
    height: 100vh;
}

.login {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

@media screen and (max-width: 500px) {
    #img {
        display: none;
    } 

    .login_container {
        background: linear-gradient(to right, #CB86ED, #DAC0E7, #F0E5F5); 
        width: 100vw;
        padding: 5%;
    }
}
