.gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 60vw;
    grid-gap: 2%;
    height: 92vh;
}

.item1 {
    width: 100%;
    height: 50vh;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 20px;

    font-family: 'Roboto', sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;

    grid-column: span 2;
}


.item2 {
    width: 100%;
    height: 40vh;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 20px;

    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item3 {
    width: 25vw;
    height: 29vh;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 20px;

    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}