#button {
    background-color: #363939;
    width: 17.5rem;
    padding: 3%;
    font-size: 1rem;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 0.9rem;
    border: 1px solid;
    border-radius: 5px;
}

#button:hover {
    background-color: #fff;
    color: #363939;
    cursor: pointer;
}
