#marketingTable {
    display: block;
    margin-top: 2vh;
}

.marketingContainers {
    display: none;
}

.marketingContainer {
    background-color: #fff;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-bottom: 1px solid #e6e6e6;
}
.marketingContainer:hover {
    cursor: pointer;
    background-color: rgb(60,76,92, .1);
}

.marketingContainer p {
    font-size: 0.8rem;
}


@media screen and (max-width: 780px) {
    #marketingTable {
        display: none;
    }

    .marketingContainer {
        display: block;
    }

    .marketingContainers {
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        height: 74.4vh;
    }
}